In [1]:
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
%matplotlib inline

### Challenge baseline

In [3]:
df = pd.read_csv('/data_mlhep2017/episode1/DS_1_train.csv', index_col=0)

df.head()

/opt/conda/lib/python3.6/site-packages/numpy/lib/arraysetops.py:395: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,event_id,X,Y,Z,TX,TY,chi2,signal
index,,,,,,,,
0,-999,42720.238281,75152.406250,32325.0,-0.475539,0.405506,2.652586,0.0
1,-999,46023.816406,37043.359375,21981.0,0.330822,-0.013988,2.497527,0.0
2,-999,52706.117188,33872.730469,16809.0,0.342634,-0.058724,2.120421,0.0
3,-999,47334.101562,9698.531250,60771.0,0.007868,-0.632822,0.618535,0.0
4,-999,67380.835938,19137.265625,37497.0,-0.212537,-0.192243,2.799303,0.0

### Build a train dataset
Ideally, you could design features here that improve model performance. 

Baseline, however, simply takes some of the features while also balansing classes.

In [4]:
train_df = np.concatenate([df[df.signal == True].values[:, 6:8],
                           df[df.signal == False].values[:50000, 6:8]])

print(len(train_df))

101018

In [5]:
X_train = train_df[:, 0].reshape(-1, 1)
y_train =  np.array(train_df[:, 1], dtype = int)

### Train a model

In [6]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier(max_depth = 1)

clf.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=1,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

### Prediction

In [7]:
df_test = pd.read_csv('/data_mlhep2017/episode1/DS_1_test.csv', index_col=0)
df_test.head()

/opt/conda/lib/python3.6/site-packages/numpy/lib/arraysetops.py:395: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

                  X             Y        Z        TX        TY      chi2
index
0      37259.390625  62516.367188  63357.0 -0.475465 -0.250186  1.405402
1      41426.312500  57520.265625  25860.0 -0.213876  0.155208  2.541856
2      40752.921875  54653.265625  46548.0  0.044215 -0.333426  2.389629
3      29293.980469  23582.425781  14223.0 -0.265671 -0.137444  2.402328
4      49538.128906  63314.617188  31032.0 -0.063467 -0.550298  1.223460

In [8]:
prediction = clf.predict_proba(df_test.values[:, 5].reshape(-1, 1))[:, 1]

### Save results

In [9]:
baseline = pd.DataFrame(prediction, columns=['Prediction'])
baseline.index.name = 'Id'
baseline.to_csv('baseline.csv', header=True)

You can now download the baseline.csv in jupyter file browser and send it to Kaggle.